/*  */
.form-control > label {
    display: block;
    margin: 15px 15px;
    color: #111;
    transition: 0.4s;
    font-size: 1.5rem;
    font-weight: 600;
}
  
.form-control > input + label {
    font-weight: unset;
    display: inline-flex;
    margin-right: 20px;
    font-size: 1.2rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
radio,
select 
    {
        display: block;
        width: 93%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;   
        padding: 10px 15px;
        transition: 0.4s;
        margin-left: 10px;
        
    }
input[type='radio'] {
    margin: 20px;
}
.form-control {
    margin-bottom: 20px;
}
